body {
    background: darkslategrey;
    font-size: 1rem;
}

.slider-container {
    /* width: 100%; */
    /* max-width: 65.625rem; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5vw 15vw;
}

.slider {
    /* display: flex; */
    width: 100%;
}

.slider-item {
    flex: 0 0 70%;
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.slider-item.active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.slider-item.show {
    display: block;
}
.slider-item img {
    width: 100%;
    max-height: 70vh;
    display: block;
    border-radius: 0.5rem;
}

.slider-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
}

.slider-item p {
    font-size: 1.5rem;
    text-align: left;
    flex: 1;
}

.dots-container {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 10px; */
    /* text-align: center; */
    margin-top: -4.06rem;
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem;
    background-color: #5272dd;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: transparent;
    border: 0.125rem solid #5272dd;
}

.dot:hover {
    background-color: azure;
    transition: background-color 0.4s, transform 0.3s;
    transform: scale(1.2);
}

.dot.active:hover {
    background-color: transparent;
    border: 0.125rem solid #9ea0a3;
}
.dot-wrapper {
    display: inline-block;
    padding: 1rem 0;
}

@media screen and (max-width: 680px) {
    .slider-container {
        align-items: center;
    }

    .slider-item div {
        margin-top: 2.5rem;
    }

    .dots-container {
        justify-content: center;
        margin-top: -6.56rem;
        height: 3.38rem;
    }
}

@media screen and (max-width: 425px) {
    .dots-container {
        height: 4.06rem;
    }
}
@media screen and (max-width: 405px) {
    .dots-container {
        margin-top: -8.12rem;
        height: 5.62rem;
    }
}